h1{ 
    color: orange;
    font-size:50px;
    font-family:"courier new", monospace;
  }
  p{color: white;
  font-family:"courier new", monospace;
  }
  
  body{
    background-color: black;
  }
  
  
