display:inline-block {
vertical-align: top;
color:white;
}

title {
    color:white;
    width: 23%;
    padding: 1%;
    height: 600px
}

projects {
    color:white;
    width: 23%;
    padding: 1%;
}



